* {
    background-color: gray;
}

#image {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
<<<<<<< HEAD
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-variant: small-caps;
    font-style: italic;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
=======
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
>>>>>>> 9a6f0402cc57399b164d16a9528a0cd8e3f36a94
}

h3 {
    text-align: center;
<<<<<<< HEAD
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

strong  {
    color: red;
=======
>>>>>>> 9a6f0402cc57399b164d16a9528a0cd8e3f36a94
}

div.container {
    text-align: center;
}

ul.links {
<<<<<<< HEAD
    display: flexbox;
=======
    display: inline-block;
    text-align: left;
>>>>>>> 9a6f0402cc57399b164d16a9528a0cd8e3f36a94
}
